<nav role="navigation" id="skips-links" class="fixed z-50 w-full bg-gray-100 text-lg">
	<ul class="m-0">
		<li>
			<a id="skip-content" href="#main" class="sr-only focus:not-sr-only"><div class="flex items-center align-center h-20 w-full"><span class="mx-auto">Aller au contenu principal</span></div></a>
		</li>
		<li>
			<a id="skip-search" href="#search" class="sr-only focus:not-sr-only"><div class="flex items-center align-center h-20 w-full"><span class="mx-auto">Aller à la recherche</span></div></a>
		</li>
	</ul>
</nav>